In [39]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\programdata\anaconda3\lib\site-packages (8.0.21)
Requirement already satisfied: protobuf>=3.0.0 in c:\programdata\anaconda3\lib\site-packages (from mysql-connector-python) (3.12.2)
Requirement already satisfied: six>=1.9 in c:\programdata\anaconda3\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.12.0)
Requirement already satisfied: setuptools in c:\programdata\anaconda3\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (41.0.1)

In [1]:
import mysql.connector

In [4]:
 mydb=mysql.connector.connect(
   host="127.0.0.1",
   user="root",
   database="records"
 )
 print(mydb)
mycursor=mydb.cursor()
#ycursor.execute("CREATE TABLE basic(name VARCHAR(45),residence VARCHAR(255))")

<mysql.connector.connection.MySQLConnection object at 0x000001B225AABD30>

In [5]:
mycursor.execute("SHOW TABLES")
for x in mycursor:
    print(x)

('basic',)

In [7]:
mycursor.execute("ALTER TABLE basic ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

In [28]:
sql= "INSERT INTO basic (name, residence) VALUES(%s,%s)"
val=[("Misti","Jhanjra"),
    ("Oreo","Gopalmath"),
    ("Echche","Our_heart")]
mycursor.executemany(sql,val)

mydb.commit()
print(mycursor.rowcount,"rows are inserted")

3 rows are inserted

In [31]:
mycursor.execute("SELECT * FROM basic")
result=mycursor.fetchall()
for x in result:
    print(x)

('Misti', 'Jhanjra', 1)
('Oreo', 'Gopalmath', 2)
('Echche', 'Our_heart', 3)

In [32]:
#mycursor.execute("TRUNCATE TABLE basic")
#mydb.commit
#print("All recrods deleted")

In [8]:
sql="SELECT * FROM basic WHERE residence='Our_heart'"
mycursor.execute(sql)
result= mycursor.fetchall()

for x in result:
    print(x)

('Echche', 'Our_heart', 3)

In [13]:
sql="SELECT name FROM basic WHERE name LIKE '%Mis%'"
mycursor.execute(sql)
result= mycursor.fetchall()

for x in result:
    print(x)

('Misti',)

In [15]:
sql="SELECT * FROM basic ORDER BY name"
mycursor.execute(sql)
result=mycursor.fetchall()

for x in result:
    print(x)

('Echche', 'Our_heart', 3)
('Misti', 'Jhanjra', 1)
('Oreo', 'Gopalmath', 2)

In [16]:
sql="SELECT * FROM basic ORDER BY name DESC"
mycursor.execute(sql)
result=mycursor.fetchall()

for x in result:
    print(x)

('Oreo', 'Gopalmath', 2)
('Misti', 'Jhanjra', 1)
('Echche', 'Our_heart', 3)

In [17]:
sql="SELECT * FROM basic ORDER BY id"
mycursor.execute(sql)
result=mycursor.fetchall()

for x in result:
    print(x)

('Misti', 'Jhanjra', 1)
('Oreo', 'Gopalmath', 2)
('Echche', 'Our_heart', 3)

In [21]:
sql= "UPDATE basic SET residence='Gopalmath' WHERE residence='Jhanjra'"
mycursor.execute(sql)
#result= mycursor.fetchall()
#for x in result:
    #print(x)

In [22]:
sql="SELECT * FROM basic"
mycursor.execute(sql)
result= mycursor.fetchall()
for x in result:
    print(x)

('Misti', 'Gopalmath', 1)
('Oreo', 'Gopalmath', 2)
('Echche', 'Our_heart', 3)